body {
    background: url("../images/background.png") no-repeat center center fixed;
    background-size: cover;
}

img {
    width: 40px;
    height: 40px;
}

.container { 
    margin-left: 10px;
}

.btn { 
    width: 70px;
    height: 70px;
    outline: none;
    background-color:  transparent;
}

.directions {
    color: darkgreen;
}

.target {
    float: left;
    width: 250px;
    /* background-color: blueviolet; */
}

.score {
    /* width: 200px; */
    /* background-color: aqua; */
}

.current {
    clear: both;
    width: 250px;
    /* background-color: cadetblue; */
}
